.projects-page{
    padding-top: 2.8em;
    
    h1{
        text-align: center;
        padding-bottom:0.7em;
    }
}
.projects{
    
    background-color:#c3b9b7;
    margin:0.3em;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    flex-wrap: wrap;
    width:85%;
    margin-right: auto;
    margin-left: auto;
    .card{
        width:50%;
        padding: 0.6em;
       border-radius: 10px;
        margin: 1em;
        display: flex;
        min-height: 10em;
        background-color: white;
        box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
        color: black;
        justify-content: center;
        .project-image{
            width: 30%;
            margin-top: 2.3em;
            padding-left: 3em;
            img{
                width:130px;
                height:130px;
                border-radius: 5px;
            }
        }
        .project-details{
            display:flex;
            flex-direction: column;
            width:60%;
            margin-top: 1.5em;
            padding-bottom: 1.8em;
        }
        .project-description{
            margin-top:0.4em;
            align-content: justify;
        }
        .actions{
            width:20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 0.8em;
            button{
                width:90%;
                cursor: pointer;
                padding:0.7em 0.2em;
                margin:0.3em;
                border-radius: 2px;
                background-color:  #f9a504;
                color:black;
                font-size: 0.7em;
                font-weight: bold;
                border: none;
            }
        }
    }
}

@media screen and (max-width:730px){
    .projects{
        display: flex;
        justify-content: center;
        border: 1px solid black;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 6em;
        .card{
            width:80%;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 200px 0 rgba(0, 0, 0, 0.19);
            margin: 1em;
            padding-top: 0.9em;
            display: flex;
            background-color: white;
            box-shadow: 4px rgb(62, 56, 56);
            color: black;
            justify-content: center;
            flex-wrap: wrap;
            .project-image{
                width: 40%;
                img{
                    width:100%;
                    height:80%;
                    padding: 0;
                }
                padding-right: 20px;
            }
            .project-details{
               margin-left: 0.4em;
               margin-top: 0;
               padding-top: 0;;
                display:flex;
                flex-direction: column;
                width:90%;
                padding:0;
                padding-left:0.3em;
                align-items: center;
            }
            .project-description{
                width:100%
            }
            .actions{
                width:50%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 0.7em;
                margin-bottom: 1.2em;
                button{
                    padding:0.47em 0.4em;
                    margin:0.1em;
                    width:8em;
                    

                }
            }
        }
    }
    
}