.footer{
    margin-top: 3em;
    background-color: black;
    color:white;
    display: flex;
    flex-direction: row;
    padding: 0.3em;
    .phone{
        padding: 0.3em;
        margin: auto;
        display: inline-block;
    }
    .mail{
        margin: auto;
        padding: 0.3em;
        display: inline-block;
    }
}

@media screen and (max-width:730px){
    .footer{
        flex-wrap: wrap;
        height: 5em;
    //     padding-top: 3em;
    // padding-bottom: 3em;
    }
    .phone{
        padding: 0em;
        margin: auto;
        display: inline-block;
    }
    .mail{
        margin: auto;
        padding: 0em;
        display: inline-block;
    }
}