.footer{
    margin-top: 3em;
    background-color: #0E0B16;
    color:white;
    display: flex;
    flex-direction: row;
    padding: 0.3em;
    height: 2em;
    .font-awesome{
        color:white;
    }
    .phone{
        padding: 0.3em;
        margin: auto;
        display: inline-block;
    }
    .mail{
        margin: auto;
        padding: 0.3em;
        display: inline-block;
    }
}

@media screen and (max-width:730px){
    .footer{
        flex-wrap: wrap;
        height: 4em;
        font-size: 0.7em;
    //     padding-top: 3em;
    // padding-bottom: 3em;
    }
    .phone{
        padding: 0em;
        margin: auto;
        display: inline-block;
    }
    .mail{
        margin: auto;
        padding: 0em;
        display: inline-block;
    }
}
